services:
  frontend:
    build:
      context: ../frontend
      dockerfile: Dockerfile
    environment:
      NODE_ENV: production
    networks:
      - app-network

  backend-php:
    build:
      context: ../backend
      dockerfile: Dockerfile
    volumes:
      - storage:/var/www/backend/storage
    env_file:
      - ../.env.production
    environment:
      APP_ENV: production
      APP_DEBUG: "false"
    depends_on:
      - postgres
    networks:
      - app-network

  nginx:
    build:
      context: ../nginx
      dockerfile: Dockerfile
    ports:
      - "80:80"
    volumes:
      - ../nginx/nginx.prod.conf:/etc/nginx/conf.d/default.conf:ro
      - ../backend/public:/var/www/backend/public:ro
      - storage:/var/www/backend/storage:ro
    depends_on:
      - frontend
      - backend-php
    networks:
      - app-network

  postgres:
    image: postgres:18-alpine
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - app-network

volumes:
  postgres-data:
  storage:

networks:
  app-network:
    driver: bridge
